{% extends "main.html" %} {% block content %} {% include "headerLogin.html" %}
<div class="row edit">
	<h1>
		Add Items
	</h1>
	<form id="addform" method="post" action="#">
		<div>
			<label for="title">Title
						<input id="title" name="title"  type="text" value="">
				</label>
		</div>
		<div>
			<label for="description">Description
				<input type = 'text' id="description" name="description" size = 100 value="">
			</label>

		</div>
		<div>
			<label for="category">Category
				<input name="category" type="text" value="">
			</label>
		</div>
		<input type="submit" value="submit">
	</form>
</div>
{% endblock %}
