{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row edit">
	<h1>
		Edit Items
	</h1>
	<form id="editform" method="post" action="{{url_for('editConfirm')}}">
		<div>
			<label for="title">Title
						<input id="title"  type="text" value={{title}}>
				</label>
		</div>
		<div>
			<label for="description">Description
				<input type="text" id="description" value={{description}}>
			</label>
		</div>
		<select name="categoryList" id="categoryList">
				{% for cate in categories %}

				<option value={{cate}} {% if cate==category %} selected {% endif %}>{{cate}}</option>
				{% endfor %}
			</select>
		<div>
			<button>Submit</button>
		</div>
</div>
</form>

</div>
{% endblock %}
